.principal {
    background-color: #2a323d;
    padding: 2rem;
    border-radius: 15px;
    color: white;
}

.rowPadding {
    margin-bottom: 1rem;
}

.info {
    padding-left: 2rem;
}

p {
    margin-top: 1rem;
    color: #c0c4c7;
    font-size: 1.1rem;
}

h5 {
    margin: 1rem 0;
}

button {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
}